body{
    overflow-x: hidden;
}

.container {
    display: flex;
    width: 100%;
    padding: 10px 0;
    align-items: center;
    justify-content: center;
    font-family: Whitney;
    color: white;
}

.pfp {
    border-radius: 50%;
    height: 38px;
    display: inline;
    margin: 8px;
}

#don {
    position: fixed !important;
    left: 10px !important;
    bottom: 10px !important;
    width: 200px;
    opacity: 10%;
}

iframe#widget {
    position: fixed !important;
    right: 10px !important;
    bottom: 10px !important;
}