@font-face {
    font-family: Whitney;
    src: url("../fonts/Whitney.ttf") format("truetype");
}
@font-face {
    font-family: WhitneyBold;
    src: url("../fonts/Whitney-Bold.ttf") format("truetype");
}
body {
    font-family: Whitney;
    overflow-x: hidden;
}
img{
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 16px;
}
table{
    width: 100%;
    border: 1px solid transparent;
}
th{
    text-align: center;
}
th, td{
    color: white;
}
th, td, .table td{
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    vertical-align: middle;
    white-space: nowrap;
}
tr{
    border-width:0px;
}
.card{
    background-color:rgb(35, 39, 42);
}
.bg-info{
    background-color:rgb(114, 137, 218)!important;
    border:5px solid transparent;
}
.score:hover{
    color:rgb(0, 100, 150);
}
.username:hover{
    font-size: 0px;
    cursor: pointer;
}
.username:hover:after{
    font-size: small;
    color: rgb(128, 128, 128);
    content: "User ID: "attr(data-id);
}
.score {
    position: relative;
    display: inline-block;
    color:rgb(2, 177, 246);
    vertical-align: middle;
    font-family: WhitneyBold;
    font-size: 17px;
    cursor: context-menu;
}
.score .tooltiptext {
    visibility: hidden;
    width: 240px;
    background-color:#444;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 7px 10px;
    position: absolute;
    overflow: visible;
    z-index: 1;
    top: 0%;
    right: 110%;
    margin-left: -120px;
    opacity: 0;
    transition: all 0.15s ease-out, opacity 0.15s;
}
.score:hover .tooltiptext {
    visibility: visible;
    right: 100%;
    opacity: 0.9;
}