@font-face {
    font-family: Whitney;
    src: url("../fonts/Whitney.ttf") format("truetype");
}
@font-face {
    font-family: WhitneyBold;
    src: url("../fonts/Whitney-Bold.ttf") format("truetype");
}
.PRELOOOOOAD{
    animation-duration: 0s !important;
    -webkit-animation-duration: 0s !important;
    transition: font-size 0s, background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}
#menu-bar {
    overflow-x:visible;
    font-family: Whitney !important;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 6px 6px 4px 6px;
    height: 40px;
    line-height: 100%;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    box-shadow: 0px 0px 0px #666666;
    -webkit-box-shadow: 0px 0px 0px #666666;
    -moz-box-shadow: 0px 0px 0px #666666;
    background: rgba(15, 15, 15, 0.5);
    border: solid 0px #6D6D6D;
    position: relative;
    z-index: 999;
}

#menu-bar section {
    color: #5865F2;
    text-align: center;
    font-family: WhitneyBold;
    padding: 10px 0px 10px 0px !important;
}

#menu-bar li {
    margin: 0px 0px 6px 0px;
    padding: 0px 6px 0px 6px;
    float: left;
    text-align: left;
    position: relative;
    list-style: none;
}

#menu-bar a {
    transition: background 0.15s, color 0.15s, transform 0.2s, font-size .2s;
    transition-timing-function: ease-out;
    border-radius: 4px;
    font-size: 12px;
    color: #E7E5E5;
    text-decoration: none;
    display: block;
    padding: 6px 20px 6px 20px;
    margin: 0;
    margin-bottom: 6px;
    z-index: 0;
}

#menu-bar li ul li a {
    margin: 0;
}

#menu-bar .active a {
    font-family: WhitneyBold;
}

#menu-bar .active a,
.button:hover {
    text-decoration: none;
    background: #2C2F33 !important;
    color: #FFFFFF;
}

#menu-bar ul li:hover a,#menu-bar li:hover li a {
    background: none;
    border: none;
    color: rgba(32, 32, 32, 0.5);
}

#menu-bar ul a:hover {
    background-color: #5865F2 !important;
    color: #FFFFFF !important;
    transform: scale(1.05);
    font-size: 14px;
}

#menu-bar li:hover>ul {
    transform: scaleY(1);
}

#menu-bar ul {
    transform-origin: top;
    transform: scaleY(0);
    transition: transform .3s cubic-bezier(0,.6,.4,1);
    background: rgba(31, 31, 31, 0.8);
    display: block;
    margin: 0;
    padding: 0;
    width: 125%;
    position: absolute;
    top: 100%;
    left: 0;
    border: solid 0px transparent;
}

#menu-bar ul li {
    float: none;
    margin: 0;
    padding: 0;
}

#menu-bar ul a {
    padding: 10px 0px 10px 15px;
    color: #F0F0F0 !important;
    font-size: 12px;
}

#menu-bar ul li:first-child>a {
    border-top-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    border-top-right-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topright: 0px;
}

#menu-bar ul li:last-child>a {
    border-bottom-left-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
}

#menu-bar:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#menu-bar {
    display: inline-block;
}

html[xmlns] #menu-bar {
    display: block;
}

* html #menu-bar {
    height: 1%;
}
.button {
    background: #5865F2;
    border: none;
    padding: 10px 15px;
    line-height: 15px;
    color: #fff;
    font-family: Whitney;
    font-size: 13px;
    display: block;
    text-align: center;
    text-decoration: none;
    width: fit-content;
    border-radius: 4px;
    transition: background 0.2s ease-out;
}

.dropLabel:hover, section:hover{
    cursor: default;
}