body {
    background-color: rgb(35, 39, 42);
    color: #DCDDDE;
    font-family: Whitney;
    font-size: large;
}
#txt {
    margin: auto;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 35px;
    max-width: 1000px;
}
#lastUpd8 {
    color: #8c8c8c;
}
h3::before {
    margin-left: .4em;
    margin-right: .4em;
    content: "➔"
}
a {
    transition: color .2s;
    color: #5865F2;
}
a:hover {
    color: white;
}
b {
    font-family: WhitneyBold
}